<div class="lang" data-state="">
  <div class="lang__title" data-lang="ru">RU</div>
  <div class="lang__content">
    <input id="selectRU" type="radio" class="lang__input" name="selectLang" value="ru" checked />
    <lable for="selectRU" class="lang__lable lang__lable--hidden">RU</lable>
    <input id="selectUA" type="radio" class="lang__input" name="selectLang" value="ua" />
    <lable for="selectUA" class="lang__lable">UA</lable>
    <input id="selectEN" type="radio" class="lang__input" name="selectLang" value="en" />
    <lable for="selectEN" class="lang__lable">EN</lable>
    <input id="selectPL" type="radio" class="lang__input" name="selectLang" value="pl" />
    <lable for="selectPL" class="lang__lable">PL</lable>
  </div>
</div>
