<aside class="sidebar sidebar--hidden js-sidebar">
  <div class="sidebar__wrapper">
    <!-- ================ SELECT LANG mobile ================ -->
    <include src="./elements/components/select-lang.html"></include>
    <!-- ==================================================== -->
    <button class="button sidebar__close-button js-sidebar__close-button" type="button">
      <span class="sidebar__menu-lable">Меню</span>
      <svg class="sidebar__icon">
        <use href="./images/sidebar/sidebar-icons.svg#close-icon"></use>
      </svg>
    </button>
    <div class="sidebar__sign">
      <a href="" class="sidebar__link sidebar__sign-link">Войти</a>
      &nbsp/&nbsp
      <a href="" class="sidebar__link sidebar__sign-link">Регистрация</a>
    </div>
    <ul class="sidebar__list">
      <li class="sidebar__item">
        <a href="#" class="sidebar__link">Договор публичной оферты</a>
      </li>
      <li class="sidebar__item">
        <a href="#" class="sidebar__link">Политика конфиденциальности</a>
      </li>
      <li class="sidebar__item">
        <a href="#" class="sidebar__link">Отзывы</a>
      </li>
    </ul>
    <strong class="contacts">Связаться с нами</strong>
    <ul class="contacts__list">
      <li class="contacts__item">
        <a href="#" class="contacts__link contacts__email">support@legko-v-uchebe.com</a>
      </li>
      <li class="contacts__item">
        <a href="#" class="contacts__link">Консультация в Telegram</a>
      </li>
      <li class="contacts__item">
        <a href="#" class="contacts__link">Консультация в Viber</a>
      </li>
      <li class="contacts__item"><a href="#" class="contacts__link">Online-ЧАТ</a></li>
    </ul>
    <!-- ================ Decorative elements ================ -->
    <div class="sidebar__circle--pink"></div>
    <div class="sidebar__circle--yellow"></div>
    <div class="sidebar__circle--blue"></div>
    <div class="sidebar__circle--dark-blue"></div>
    <div class="sidebar__square--pink"></div>
    <div class="sidebar__square--violet"></div>
    <div class="sidebar__square--yellow"></div>
    <div class="sidebar__owl"></div>
  </div>
</aside>
