<div class="slider">
  <strong class="slider__lable">Читай полезные статьи</strong>
  <div class="slider__wrapper">
    <div class="slider__element">
      <div class="slider__img-thumb">
        <picture>
          <source
            srcset="
              ./images/slider/first-slide_base.jpg    1x,
              ./images/slider/first-slide_base@2x.jpg 2x,
              ./images/slider/first-slide_base@3x.jpg 3x
            "
            media="(max-width: 375px)"
          />
          <source
            srcset="
              ./images/slider/first-slide_sample.jpg    1x,
              ./images/slider/first-slide_sample@2x.jpg 2x,
              ./images/slider/first-slide_sample@3x.jpg 3x
            "
            media="(max-width: 767px)"
          />
          <source
            srcset="
              ./images/slider/first-slide_tablet.jpg    1x,
              ./images/slider/first-slide_tablet@2x.jpg 2x,
              ./images/slider/first-slide_tablet@3x.jpg 3x
            "
            media="(max-width: 1439px)"
          />
          <source
            srcset="
              ./images/slider/first-slide_sample.jpg    1x,
              ./images/slider/first-slide_sample@2x.jpg 2x,
              ./images/slider/first-slide_sample@3x.jpg 3x
            "
            media="(min-width: 1440px)"
          />
          <img src="./images/slider/first-slide_base.jpg" alt="Первый слайд" />
        </picture>
        <span class="slider__img-lable">25.03.20</span>
      </div>
      <p class="slider__descr">
        Вот вам яркий пример современных тенденций - социально-экономическое развитие.
      </p>
    </div>
    <div class="slider__element">
      <div class="slider__img-thumb">
        <picture>
          <source
            srcset="
              ./images/slider/second-slide_base.jpg    1x,
              ./images/slider/second-slide_base@2x.jpg 2x,
              ./images/slider/second-slide_base@3x.jpg 3x
            "
            media="(max-width: 375px)"
          />
          <source
            srcset="
              ./images/slider/second-slide_sample.jpg    1x,
              ./images/slider/second-slide_sample@2x.jpg 2x,
              ./images/slider/second-slide_sample@3x.jpg 3x
            "
            media="(max-width: 767px)"
          />
          <source
            srcset="
              ./images/slider/second-slide_tablet.jpg    1x,
              ./images/slider/second-slide_tablet@2x.jpg 2x,
              ./images/slider/second-slide_tablet@3x.jpg 3x
            "
            media="(max-width: 1439px)"
          />
          <source
            srcset="
              ./images/slider/second-slide_sample.jpg    1x,
              ./images/slider/second-slide_sample@2x.jpg 2x,
              ./images/slider/second-slide_sample@3x.jpg 3x
            "
            media="(min-width: 1440px)"
          />
          <img src="./images/slider/second-slide_base.jpg" alt="Второй слайд" />
        </picture>
        <span class="slider__img-lable">25.03.20</span>
      </div>
      <p class="slider__descr">
        Вот вам яркий пример современных тенденций - социально-экономическое развитие.
      </p>
    </div>
    <div class="slider__element">
      <div class="slider__img-thumb">
        <picture>
          <source
            srcset="
              ./images/slider/third-slide_base.jpg    1x,
              ./images/slider/third-slide_base@2x.jpg 2x,
              ./images/slider/third-slide_base@3x.jpg 3x
            "
            media="(max-width: 375px)"
          />
          <source
            srcset="
              ./images/slider/third-slide_sample.jpg    1x,
              ./images/slider/third-slide_sample@2x.jpg 2x,
              ./images/slider/third-slide_sample@3x.jpg 3x
            "
            media="(max-width: 767px)"
          />
          <source
            srcset="
              ./images/slider/third-slide_tablet.jpg    1x,
              ./images/slider/third-slide_tablet@2x.jpg 2x,
              ./images/slider/third-slide_tablet@3x.jpg 3x
            "
            media="(max-width: 1439px)"
          />
          <source
            srcset="
              ./images/slider/third-slide_sample.jpg    1x,
              ./images/slider/third-slide_sample@2x.jpg 2x,
              ./images/slider/third-slide_sample@3x.jpg 3x
            "
            media="(min-width: 1440px)"
          />
          <source />
          <img src="./images/slider/third-slide_base.jpg" alt="Третий слайд" />
        </picture>
        <span class="slider__img-lable">25.03.20</span>
      </div>
      <p class="slider__descr">
        Вот вам яркий пример современных тенденций - социально-экономическое развитие.
      </p>
    </div>
    <div class="slider__element">
      <div class="slider__img-thumb">
        <picture>
          <source
            srcset="
              ./images/slider/fourth-slide_base.jpg    1x,
              ./images/slider/fourth-slide_base@2x.jpg 2x,
              ./images/slider/fourth-slide_base@3x.jpg 3x
            "
            media="(max-width: 375px)"
          />
          <source
            srcset="
              ./images/slider/fourth-slide_sample.jpg    1x,
              ./images/slider/fourth-slide_sample@2x.jpg 2x,
              ./images/slider/fourth-slide_sample@3x.jpg 3x
            "
            media="(max-width: 767px)"
          />
          <source
            srcset="
              ./images/slider/fourth-slide_tablet.jpg    1x,
              ./images/slider/fourth-slide_tablet@2x.jpg 2x,
              ./images/slider/fourth-slide_tablet@3x.jpg 3x
            "
            media="(max-width: 1439px)"
          />
          <source
            srcset="
              ./images/slider/fourth-slide_sample.jpg    1x,
              ./images/slider/fourth-slide_sample@2x.jpg 2x,
              ./images/slider/fourth-slide_sample@3x.jpg 3x
            "
            media="(min-width: 1440px)"
          />
          <img src="./images/slider/fourth-slide_base.jpg" alt="Четвертый слайд" />
        </picture>
        <span class="slider__img-lable">25.03.20</span>
      </div>
      <p class="slider__descr">
        Вот вам яркий пример современных тенденций - социально-экономическое развитие.
      </p>
    </div>
  </div>
  <button class="button slider__button" type="button">
    <svg class="slider__icon">
      <use href="./images/slider/slider-arrows.svg#left-arrow"></use>
    </svg>
  </button>
  <button class="button slider__button" type="button">
    <svg class="slider__icon">
      <use href="./images/slider/slider-arrows.svg#right-arrow"></use>
    </svg>
  </button>
</div>
